---
export interface Props {
    heading: string;
}
const { heading } = Astro.props;
---

<div class="mb-12 border-l-2 border-primary pl-8 text-left">
    <h2 class="font-h2 text-4xl leading-[1.15] tracking-[-0.01em] md:text-5xl">
        {heading}
    </h2>
</div>
